OWL2Vec-Star/cache/
OWL2Vec-Star/case_studies/
OWL2Vec-Star/Exp_multi_fr/
ontology_data/
OWL2Vec-Star/*.csv
OWL2Vec-Star/*.numbers
OWL2Vec-Star/onto_complete/psycho_subsume/ontoPsy_jacques19juin2023.owl

# Other common ignores
.DS_Store
node_modules/
.env
*.log